<div class="container-fluid px-0 mx-0" dir="rtl">
  <div class="row" style="background: #3F729B">
    <div class="col-md-12 d-flex justify-content-center mt-3">
      <h1 class="text-white">המרחק שלי מהבית</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center" dir="rtl">
      <mat-grid-list cols="4" class="pt-3"
                     style="width: 100%; text-align: right; padding-right: 25%"
                     [style.background]="'#1C2331'" dir="rtl">
        <mat-form-field class="mx-3" style="width: 350px">
          <mat-label>המיקום שלי</mat-label>
          <input matInput (keydown.enter)="$event.preventDefault()" id="search"
                 autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                 #search>
        </mat-form-field>
        <mat-form-field class="mx-3">
          <mat-label>מרחק</mat-label>
          <input matInput [(ngModel)]="radius">
        </mat-form-field>
        <mat-form-field class="mx-3">
          <mat-label>מידת מרחק</mat-label>
          <mat-select [value]="distanceTypes[0].type" (selectionChange)="distanceTypesChanged($event)">
            <mat-option *ngFor="let type of distanceTypes" [value]="type.type">{{type.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="mx-3" (click)="displayRadius()">הצג רדיוס</button>
      </mat-grid-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <google-map #map width="100%" height="600px" [center]="myPosition">
        <map-marker
          *ngFor="let marker of markers"
          [position]="marker.position"
          [title]="marker.title">
        </map-marker>
        <map-circle [center]="myPosition"
                    [options]="circleOptions"
                    #mapCircle>
        </map-circle>
      </google-map>
    </div>
  </div>
</div>
